body {
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
}

.download-container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 450px; /* Default lebih lebar sedikit */
    margin: 20px auto;
    border: 1px solid #000000;
}

/* Untuk layar lebih besar (desktop) */
@media (min-width: 768px) {
    .download-container {
        width: 70%; /* Memperbesar kontainer di desktop */
        max-width: 1100px; /* Lebih lebar */
    }
}

.download-button {
    display: block;
    width: 90%; /* Biar tombol lebih besar */
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    background-color: #800080;
    border: 2px solid #800080;
    border-radius: 5px;
    margin: 10px auto;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.download-button:hover {
    background-color: #6a006a;
    color: #ffffff;
}

.image-container {
    text-align: center;
    margin-bottom: 15px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

h2 {
    color: #800080;
    font-size: 26px;
    font-weight: bold;
}

.section {
    margin-top: 15px;
}
